 <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="saveRecipeForm" (ngSubmit)="onSubmit(saveRecipeForm)">
        <div class="row">

        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="name">Recipe Name</label>
              <input 
                type="text"
                formControlName="name"
                id="name"
                class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <h4>Ingredients</h4>

          <div class="col-lg-12" formArrayName="ingredients">

              <div class="row"  
              *ngFor="let ingredientCtrl of controls; let indexofIngredient = index"
              [formGroupName]="indexofIngredient"
              style="margin-top: 10px;">

                <div class="col-sm-4">
                  <input 
                    type="text"
                    class="form-control"
                    formControlName="name">
                </div>

                
                 <label for="quantity">Quantity</label>

                 <div class="col-sm-2">
                  <input 
                  name="quantity"
                    type="text"
                    class="form-control"
                    formControlName="quantity">
                </div>
                <div class="col-sm-4">
                  <label for="selectedUnitType">Unit Type</label>
                  <select  
                    name="selectedUnitType"
                    formControlName="unitType">
                      <option value="cups">cups</option>
                      <option value="teaspoons">teaspoons</option>
                      <option value="tablespoons">tablespoons</option>
                      <option value="pounds">pounds</option>
                      <option value="ounces">ounces</option>
                      <option value="count">count</option>
                  </select>               
                 </div>
                 <div>
                  <input 
                    type="hidden"
                    class="form-control"
                    formControlName="orderOf"
                  >
                </div>
                <div class="col-sm-1">
                  <button class="btn btn-danger" disabled>X</button>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <button type="button"
                class="btn btn-success" 
                (click)="onAddIngredient(controls.length)">Add Ingredient</button>
              </div>
            </div>
          </div>

        </div>



          <div class="row">
            <h4>Directions</h4>

            <div class="col-lg-12" formArrayName="directions">

                <div class="row"  

                
                *ngFor="let directionCtrl of stepControls; let indexofelement = index "
                  [formGroupName]="indexofelement"
                style="margin-top: 10px;">

                  <div class="col-lg-10">
                    <textarea 
                      type="text"
                      rows="6"
                      class="form-control"
                      formControlName="Instruction"></textarea>
                  </div>

                  <div>
                    <input 
                      type="hidden"
                      class="form-control"
                      formControlName="StepNumber"
                    >
                  </div>

                  <div class="col-lg-2">
                    <button class="btn btn-danger" disabled>X</button>
                  </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-12">
                  <button type="button"
                  class="btn btn-success" 
                  (click)="onAddSteps(stepControls.length)">Add Step</button>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-lg-4">
              <label for="selectedCategory">Category</label>

              <select  
                name="selectedCategory"
                formControlName="category">
                  <option value="dinner">Dinner</option>
                  <option value="drink">Drinks</option>
              </select>
              
             </div>
        
           </div>
          <hr>
           <div class="col-lg-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
      </form>

    </div>
  </div>
